@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

body{
	font-size:0.925em;
	/*color:#fcfcfc;
	background-color:#355664;*/
	color:#000;
	background-color:#FFFFFF;
	font-family: Times, serif;
}


a, a:visited {
	color: #666;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:none;
}

a img{
	border:none;
}

/* 
h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}*/

h1{
	color:#000;
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:lowercase;
	text-shadow:0 1px 1px black;
}

h3{
    color:#000;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
	text-shadow:0 1px 1px black;
}


h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:lowercase;
	text-shadow:0 1px 1px #FFFFFF;
}

p{
	line-height:1.5em;
	padding-bottom:1em;
}

.line{
	height:2px;
	background-color:#CCC; /*#24404c*/
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

div.article .line{
	background-color:#15242a;
	/*background-color: #FFF8DC;*/
	/*border-bottom-color:#204656;*/
	border-bottom-color: #FFFFFF;
	margin:1.3em 0;
}

div.article a.up{
	float:right;
}

div.article a,div.article a:visited{
	color: blue;
	font-weight: bold;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

div.article a:hover {
	color:#666;
}

div.footer .line{
	margin:2em 0;
}

div.nav{
	/*background:url(gradient.jpg) repeat-x 50% 50% #FCFCFC; #f8f8f8*/
	padding:0 5px;
	position:absolute;
	right:0;
	top:2.1em;
	
	border:1px solid #FCFCFC;

	/*-moz-box-shadow:0 1px 1px #666;
	-webkit-box-shadow:0 1px 1px #666666;
	box-shadow:0 1px 1px #666666;*/
}

/* clear float hack */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.nav ul li{
	display:inline;
}

div.nav ul li a,
div.nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:lowercase;
}

div.nav ul li a:hover{
	text-decoration:none;
	background-color: #FFF8DC;
}

div.nav, div.nav ul li a {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

div.article,div.figure {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

div.article {
	/*background-color:#213E4A*/;
	background-color: #FFF;
	margin:3em 0;
	padding:20px;
	/*text-shadow:0 1px 0 #FFF 8DC*/;
}

div.article ul li {
	margin-left: 50px;
}

div.figure{
	border:2px solid #CCC;
	overflow:hidden;
	text-align:center;
	margin: 8px;
}

div.figureMain {
	 width: 800px;
	 height:530px;
	 margin-left:30px;
}

div.figuremain a {
}

.right {
	float:right;
}

.left {
	float:left;
}


div.figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}


div.footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}

div.footer p{
	color:#666666;
	margin-bottom:-2.5em;
	position:relative;
}

div.footer a,div.footer a:visited{
	color:#666666;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

div.footer a:hover{
	text-decoration:none;
	color:#142830;
}

div.footer a.by{
	float:left;

}

div.footer a.right{
	float:right;
}


 
 